# Cluster {{ cluster.name }} Configuration Report

## Access Data
* **Cluster:** {{ cluster.name }}
* **Console:** *https://console-openshift-console.apps.{{ cluster.spec.metadata.name }}.{{ cluster.spec.baseDomain }}*
* **Authentication Provider:** {{ cluster.config.auth.provider.keys() | list | to_yaml | replace('[', '') | replace(']','') }}


## Users
{% for user in cluster.config.auth.users %}
- **Username:** {{ user.name }}
  **Password:** {{ user.pass }}
{% endfor %}


## Groups
{% for group in cluster.config.auth.groups %}
- **Group Name:** {{ group.name }}
  **Group Role:** {{ group.clusterRole }}
{% endfor %}


{% if cluster.config.registry.expose %}
## Image Registry
- Public Route Hostname: *https://{{ cluster.config.registry.hostname }}.{{ cluster.spec.baseDomain }}*
{% endif %}
